body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #0056b3;
}

form {
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #004494;
}

.hidden {
    display: none;
}

#result {
    margin-left: 20px;
    max-width: 400px;
    padding: 15px;
    background: #e9f7df;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
}

#bmiCategories {
    list-style-type: none;
    padding-left: 0;
}

#bmiCategories li {
    margin-bottom: 10px;
}

.gender-options {
    display: flex;
    justify-content: flex-start;  /* Agar elemen di sebelah kiri */
    margin-bottom: 15px;
}

.gender-options label {
    display: inline-block;
    margin-right: 10px;  /* Memberikan jarak sedikit antara label */
}

.gender-options input {
    margin-right: 5px;  /* Memberikan jarak antara tombol radio dan teks */
}

#downloadBtn {
    background-color: #28a745;
}

#downloadBtn:hover {
    background-color: #218838;
}
